{% extends 'base.html.twig' %}



{% block title %}
    Creat a new post | {{ form_parent() }}
{% endblock %}

{% block body %}
    <h1>Creation d'un post</h1>
    {# todo:afficher le fomulaire de creation d'une publication #}
    <div>
{#
        {{ form_start(publicationForm) }}

        {{ form_widget(publicationForm) }}



        {{ form_end(publicationForm) }}
 #}

    </div>
{% endblock %}
