{% extends 'base.html.twig' %}



{% block title %}

    List des posts | {{ path() }}

{% endblock %}

{% block body %}

    <section class="post-list">
        <h1> Afficher tous les posts</h1>
         {% for publication in publications %}
             <hr>
            <article>
                <h1><a href="{{ path('publication_details',{'id' : publication.id}) }}" title="view publication's details">{{ publication.title }}</a></h1>
                <h5>{{ publication.dateCreated.format('d/m/Y') }}</h5>



            </article>
        {% endfor %}

    </section>

{% endblock %}

