{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <h1>Afficher les posts +  possibilité de cree un post </h1>

{% endblock %}

{% block footer %}

{% endblock %}