<nav>
    <ul>

        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <hr>
        <li><a href="{{ path('main_test') }}" title="Test">Test</a></li>
        <hr>
        {#  <li><a href="{{ path('publication_create') }}" title="create">Cree une publication</a></li>#}
        {#  <li><a href="{{ path('publication_list') }}" title="list">Tous les publications</a></li>#}

    </ul>
</nav>