<nav>
    <ul>

        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('publication_list') }}" title="listpost">Tous les publications</a></li>
        <li><a href="#" title="profil">profil</a></li>
        <li><a href="{{ path('publication_create') }}" title="Créé une publication"> <i class="fas fa-plus-square"></i> </a></li>

    </ul>
</nav>